.boardScreen {
  /* background-color: orange; */
  width: 100%;

  flex: 1;

  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* overflow-y: scroll; */
  overflow-x: scroll;
}

.boardScreen__top {
  border: 1px solid black;
  /* width: 100%; */
}

.boardScreen__boardsAndCards {
  /* border: 10px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

@media (max-width: 1236px) {
  .boardScreen__boardsAndCards {
    width: max-content;
  }
}

/* @media (max-width: 659px) {
  .boardContainer {
    height: 100vh;
  }
} */
