.boardScreen {
  background-color: orange;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* overflow-y: scroll; */
  overflow-x: scroll;
}

.boardScreen__top {
  border: 1px solid black;
  /* width: 100%; */
}

.boardScreen__boardsAndCards {
  /* border: 10px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

@media (max-width: 954px) {
  .boardScreen__boardsAndCards {
    width: max-content;
  }
}
