@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  /* overflow-x: hidden; */
}
